#chatWrapper {
    /* padding-right: 15em; */
    z-index: 20;
}

#chatMessages {
    width: 100%;
    margin-bottom: 20px;
}

/* mobile mode*/
#chatInfo {
    width: 15em;
    min-width: 15em;
    overflow: auto;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

@media all and (min-width: 630px) {
    #chatWrapper {
        padding-right: 15em;
    }

    #chatMessages {
        float: left;
        overflow-y: scroll;
        /* min-height: 480px; */
        min-width: 320px;
        min-height: 400px;
        max-height: 600px;
    }

    #chatInfo {
        margin-right: -15em;
        position: static;
        float: right;
        display: block;
        z-index: 21;
    }
}

.chatUsersView {
    list-style: none;
    line-height: 18px;
    font-size: 10pt;
}

#chatEnter {

}

div.chatMessage {
    line-height: 18px;
}

small.chatInfo {
    font-size: .7em;
}
