#chatWrapper {
    /* padding-right: 15em; */
}

#chatMessages {
    width: 100%;
    overflow-y: scroll;
    /* min-height: 480px; */
    min-width: 320px;
}

#chatInfo {
    width: 15em;
    min-width: 15em;
    /* margin-right: -15em; */
    overflow: auto;
}

@media all and (min-width: 630px) {
    #chatWrapper {
        padding-right: 15em;
    }

    #chatMessages {
        float: left;
    }

    #chatInfo {
        margin-right: -15em;
        float: right;
    }
}

.chatUsersView {
    list-style: none;
    line-height: 14px;
}

#chatEnter {

}

div.chatMessage {
    line-height: 18px;
}
