.editor-map-container {
    float: left;
    max-height: 600px;
    overflow: auto;
}

.editor-mapview-container {
    float: left;
}

.editor-codeview-container {
    float: left;
}

.editor-tools-container {
    width: 300px;
    height: 500px;
    float: right;
    /* background-color: rgba(100, 100, 100, .3); */
}

.editor-tools-fields-field {
    width: 20px;
    height: 20px;
}
