#header {
    padding-top: 1px;
    background-image: url(http://www.karopapier.de/images/head.jpg);
    background-position: -4px 0px;
    height: 51px;
}

#userInfoBar {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

.error {
    border: 1px solid orange;
    background-color: red;
    color: #ffffff;
}

.warn {
    border: 1px solid orange;
    background-color: yellow;
    color: black;
}

.info {
    border: 1px solid blue;
    background-color: lightblue;
    color: darkblue;
}

.help {
    border: 1px solid blue;
    background-color: lightblue;
    color: darkblue;
}

.ok {
    background-color: lightgreen;
    border: 1px solid green;
}

.close {
    cursor: pointer;
}
