#header {
    padding-top: 1px;
    background-image: url(http://reloaded.karopapier.de/images/head.jpg);
    background-position: -4px 0px;
    height: 51px;
}

#userInfoBar {
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}
