/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-1 {
  background-image: url(images/mapfields.png);
  background-position: -21px 0px;
  width: 21px;
  height: 21px;
}
.icon-2 {
  background-image: url(images/mapfields.png);
  background-position: -42px -42px;
  width: 21px;
  height: 21px;
}
.icon-3 {
  background-image: url(images/mapfields.png);
  background-position: 0px -21px;
  width: 21px;
  height: 21px;
}
.icon-4 {
  background-image: url(images/mapfields.png);
  background-position: -21px -21px;
  width: 21px;
  height: 21px;
}
.icon-5 {
  background-image: url(images/mapfields.png);
  background-position: 0px -42px;
  width: 21px;
  height: 21px;
}
.icon-6 {
  background-image: url(images/mapfields.png);
  background-position: -42px 0px;
  width: 21px;
  height: 21px;
}
.icon-7 {
  background-image: url(images/mapfields.png);
  background-position: -42px -21px;
  width: 21px;
  height: 21px;
}
.icon-8 {
  background-image: url(images/mapfields.png);
  background-position: -21px -42px;
  width: 21px;
  height: 21px;
}
.icon-9 {
  background-image: url(images/mapfields.png);
  background-position: 0px 0px;
  width: 21px;
  height: 21px;
}
.icon-F {
  background-image: url(images/mapfields.png);
  background-position: -63px 0px;
  width: 21px;
  height: 21px;
}
.icon-O {
  background-image: url(images/mapfields.png);
  background-position: 0px -63px;
  width: 21px;
  height: 21px;
}
.icon-P {
  background-image: url(images/mapfields.png);
  background-position: -21px -63px;
  width: 21px;
  height: 21px;
}
.icon-S {
  background-image: url(images/mapfields.png);
  background-position: -63px -21px;
  width: 22px;
  height: 21px;
}
.icon-W {
  background-image: url(images/mapfields.png);
  background-position: -63px -42px;
  width: 21px;
  height: 21px;
}
.icon-X {
  background-image: url(images/mapfields.png);
  background-position: -42px -63px;
  width: 21px;
  height: 21px;
}
.icon-Y {
  background-image: url(images/mapfields.png);
  background-position: 0px -84px;
  width: 21px;
  height: 21px;
}
.icon-Z {
  background-image: url(images/mapfields.png);
  background-position: -84px 0px;
  width: 21px;
  height: 21px;
}
