/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-1 {
  background-image: url(images/mapfields.png);
  background-position: -12px 0px;
  width: 12px;
  height: 12px;
}
.icon-2 {
  background-image: url(images/mapfields.png);
  background-position: -24px -24px;
  width: 12px;
  height: 12px;
}
.icon-3 {
  background-image: url(images/mapfields.png);
  background-position: 0px -12px;
  width: 12px;
  height: 12px;
}
.icon-4 {
  background-image: url(images/mapfields.png);
  background-position: -12px -12px;
  width: 12px;
  height: 12px;
}
.icon-5 {
  background-image: url(images/mapfields.png);
  background-position: 0px -24px;
  width: 12px;
  height: 12px;
}
.icon-6 {
  background-image: url(images/mapfields.png);
  background-position: -24px 0px;
  width: 12px;
  height: 12px;
}
.icon-7 {
  background-image: url(images/mapfields.png);
  background-position: -24px -12px;
  width: 12px;
  height: 12px;
}
.icon-8 {
  background-image: url(images/mapfields.png);
  background-position: -12px -24px;
  width: 12px;
  height: 12px;
}
.icon-9 {
  background-image: url(images/mapfields.png);
  background-position: 0px 0px;
  width: 12px;
  height: 12px;
}
.icon-F {
  background-image: url(images/mapfields.png);
  background-position: -36px 0px;
  width: 12px;
  height: 12px;
}
.icon-O {
  background-image: url(images/mapfields.png);
  background-position: 0px -36px;
  width: 12px;
  height: 12px;
}
.icon-P {
  background-image: url(images/mapfields.png);
  background-position: -12px -36px;
  width: 12px;
  height: 12px;
}
.icon-S {
  background-image: url(images/mapfields.png);
  background-position: -48px 0px;
  width: 12px;
  height: 11px;
}
.icon-W {
  background-image: url(images/mapfields.png);
  background-position: -36px -24px;
  width: 12px;
  height: 12px;
}
.icon-X {
  background-image: url(images/mapfields.png);
  background-position: -24px -36px;
  width: 12px;
  height: 12px;
}
.icon-Y {
  background-image: url(images/mapfields.png);
  background-position: -36px -12px;
  width: 12px;
  height: 12px;
}
.icon-Z {
  background-image: url(images/mapfields.png);
  background-position: 0px -48px;
  width: 12px;
  height: 12px;
}
