.idea
*.php
node_modules
src/*.browserified.*
public/js/Karopapier.*
public/js/JST.js
*.min.css
doc
public/js/src
public/index.html
public/dran.html
public/chat.html
public/editor.html
public/newgame.html
