<div id="gameQueue"></div>
<div id="gameTitleContainer">Titel</div>
<div id="gameWrapper">
    <div id="gameInfo">Info</div>
    <div id="lastMoveMessages">
        Bordfunk seit dem letzten Zug
    </div>
    <div id="mapContainer">
        <div class="mapView"></div>
        <div class="playersMovesView map-overlay"></div>
        <div class="gridView map-overlay">SVG</div>
        <div class="quickSettingsView map-overlay"></div>
    </div>
    <div id="statusView"></div>
    <br/>
    <b>Bordfunk</b><br/>
    <div id="moveMessagesView"></div>
    <br/>

    <div id="playerTableView"></div>
    <div id="logLinkView">Loglink missing here</div>
</div>
<div class="clearer"></div>
