<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>KaroBackbone - New game</title>
        <link rel="shortcut icon" href="http://www.karopapier.de/favicon.ico" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://www.karopapier.de/css/karo.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="http://www.karopapier.de/themes/black/css/theme.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/lobby.css" />
        <style type="text/css">
            .clickable:hover {
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <script type="text/javascript" src="js/libs/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../public/js/libs/underscore-min.js"></script>
        <script type="text/javascript" src="../public/js/libs/backbone-min.js"></script>
        <script type="text/javascript" src="../public/js/libs/backbone.marionette.min.js"></script>
        <div id="header">
            <div id="infoBar">
            <span class="userLabel" name="userLabel1">Didi</span> Spiele: <a href="/dran"><span id="dranCount">5</span></a>/<span id="gamesCount">105</span> [5/105]
            <a href="/logout">Logout</a>                <div id="NotifierContainer"></div>
            </div>
        </div>
        <div class="clearer"></div>

        <div id="container">
            <div id="sidebar">
                <ul id="navi">
                    <li>Nix</li>
                </ul>
            </div>

            <div id="content">
                <div id="userListContainer">
                    <h2>Verfügbare Spieler</h2>
                    <h3>Filter</h3>
                    <table>
                        <tr>
                            <td>Login</td><td><input type="text" name="filterLogin" id="filterLogin" /></td>
                        </tr>
                        <tr>
                            <td>Tage weg</td><td><input type="text" name="filterLastVisit" id="filterLastVisit" value="0" /></td>
                        </tr>
                    </table>

                    <div id="userList"><img src="../public/images/loading.gif" / ></div>
                </div>

                <div id="invitedUsersContainer">
                    <h2>Eingeladen</h2>
                    <img id="addOpenSlot" class="clickable" src="/public/images/plus.png" />  Offene Einladung hinzufügen	<div id="invitedUsers"></div>
                </div>

                <div id="mapInfoContainer">
                    <h2>Kartenauswahl</h2>
                    <div id="mapInfo"><img src="../public/images/loading.gif" / ></div>
                </div>

            </div>
        </div>

        <script type="text/template" id="user-template">
        <div class="user"><span class="userLabel"><%= login %></span> [<%= lastVisit %>|<%= signup %>] @ <%= activeGames %> / <%= maxGames %>
<img class="invite clickable" style="position: absolute; right: 0px; top: 0px" src="http://www.karopapier.de/images/plus.png" ref="60">
        </div>
        </script>

        <script type="text/template" id="selected user-template">
        <div class="user"><span class="userLabel<% if (selected) { %> invitedUser<% } %>"><%= login %></span> [<%= lastVisit %>|<%= signup %>] @ <%= activeGames %> / <%= maxGames %>
<img class="uninvite clickable" style="display: none; position: absolute; right: 0px; top: 0px" src="http://www.karopapier.de/images/x.png" ref="60">
        </div>
        </script>

        <script type="text/javascript" src="../src/model/User.js"></script>

        <script type="text/javascript">

            var LobbyUser = User.extend({
                defaults: {
                    selected: false,
                    login: "Freier Slot"
                }
            });

            function FilteredCollection(original){
                var filtered = new original.constructor();

                filtered.filter = function(criteria){
                    var items;
                    if (criteria){
                        items = original.filter(criteria);
                    } else {
                        items = original.models;
                    }
                    filtered.reset(items);
                };

                original.on("reset", function(){
                        filtered.reset(original.models);
                        });

                return filtered;
            }
            
            var UserCollection= Backbone.Collection.extend({
                model: LobbyUser,
            });

            var UserItemView = Backbone.Marionette.ItemView.extend({
                template: '#user-template'
            });

            var UserListView = Backbone.Marionette.CollectionView.extend({
                itemView: UserItemView
            });


            $(document).ready(function(){
                var allAvailableUsers=new UserCollection({ });
                allAvailableUsers.url="http://www.karopapier.de/api/user/list.json?callback=?";
                var filteredUsers=FilteredCollection(allAvailableUsers);

                var userListView = new UserListView({
                    collection: filteredUsers,
                    events: {
                        'click': 'focus_content'
                    },
                    focus_content: function(e) {
                        console.log(e);
                    }
                });

                $('#userList').html(userListView.el);

                allAvailableUsers.fetch();

                $('#filterLogin').keyup(function(e) {
                    var login=$(e.target).val();
                    if (login=="") {
                        filteredUsers.filter();
                    } else {
                        filteredUsers.filter(function(e) { return (e.get("login").toLowerCase().indexOf(login.toLowerCase())>=0);});
                    }
                });

                
            });
        </script>

        <center><a href="http://www.karopapier.de">Karopapier.de</a> is brought to you by
        <script type="text/javascript">document.write(String.fromCharCode(0x44,0x69,0x64,0x69).link(String.fromCharCode(0x6d,0x61,0x69,0x6c,0x74,0x6f,0x3a,0x64,0x69,0x64,0x69,0x40,0x6b,0x61,0x72,0x6f,0x70,0x61,0x70,0x69,0x65,0x72,0x2e,0x64,0x65)));</script></center>
    </body>
</html>
