<h1>KaroKaMEL - Karo Karten Mal- & Editier-Lösung</h1>

<div class="editor-map-container">
    <div class="editor-mapview-container"></div>
    <div class="editor-codeview-container"></div>
</div>
<div class="editor-tools-container"></div>
<div class="clearer"></div>
<p>
    <b>DAS IST NOCH LANGE NICHT FERTIG!</b><br />
    Bitte bitte bitte - mit Vorschlägen noch zurückhalten. Wenn ihr welche habt, dann notiert sie Euch.<br/>
    Der Dezember ist noch ein paar Tage, der Adventskarolender auch - und bis zum 24. tut sich hier bestimmt nocht
    was.<br/>
    Wenn dann am 25. euer sehnlichster Wunsch IMMER NOCH NICHT erfüllt ist - dann bitte mailen<br />
    <br />
    Karolender Türchen  7: <i>KaroKaMEL - wirst ihn lieben?</i> Jetzt neu! MALEN mit Zahlen!<br />
    Karolender Türchen  8: <i>Hat den Code-Aufräumer 'bracht.</i> Beim Verlassen des Textfeldes wird der Kartencode korrigiert oder vervollständigt<br />
    Karolender Türchen  9: <i>ÜPluMifreu</i><br />
    Karolender Türchen 10: <i>Kalatujege</i><br />
    Karolender Türchen 11: <i>KnomiUnkozeHe</i><br />
</p>

