Felder:
<div class="editor-tools-fields">
    Gras</br>
    Straße</br>
</div>

<p>Mit Klick der linken, mittlereren oder rechten Maustaste auf das Feld oben auswählen, womit die Taste malen soll</p>

<div class="editor-tools-mousebuttons">
    Maustasten: <span class="mouseleft">O</span> <span class="mousemiddle">1</span> <span class="mouseright">X</span>
</div>

<div class="editor-tools-viewsettings">
    Karogröße: <input type="number" value="12" name="size"><br/>
    Karorand: <input type="number" value="1" name="border">
</div>
