<h1>KaroKaMEL - Karo Karten Mal- & Editier-Lösung</h1>

<div class="editor-map-container">
    <div class="editor-mapview-container"></div>
    <div class="editor-codeview-container"></div>
    <div class="editor-imagetranslator-container"></div>
</div>
<div class="editor-tools-container"></div>
<div class="clearer"></div>
<p>
    <b>DAS IST NOCH LANGE NICHT FERTIG!</b><br/>
    Bitte bitte bitte - mit Vorschlägen noch zurückhalten. Wenn ihr welche habt, dann notiert sie Euch.<br/>
    Der Dezember ist noch ein paar Tage, der Adventskarolender auch - und bis zum 24. tut sich hier bestimmt noch
    was.<br/>
    Wenn dann am 25. euer sehnlichster Wunsch IMMER NOCH NICHT erfüllt ist - dann bitte mail(d)en<br/>
    <br/>
    Karolender Türchen 7:
    <i>KaroKaMEL - wirst ihn lieben?</i> Jetzt neu! MALEN mit Zahlen!<br/>
    Karolender Türchen 8:
    <i>Hat den Code-Aufräumer 'bracht.</i> Beim Verlassen des Textfeldes wird der Kartencode korrigiert oder vervollständigt<br/>
    Karolender Türchen 9:
    <i>Über Tasten drücken freu'n.</i> Das Hauptmalfeld (linke Maustaste) lässt sich jetzt auch mit der Tastatur wählen. Einfach entsprechende Taste drücken<br/>
    Karolender Türchen 10:
    <i>Karten laden tut jetzt geh'n.</i> Rechts dieses Dropdown, da sollten Karten zur Auswahl stehen<br/>
    Karolender Türchen 11:
    <i>Knopf mit Undo kommt zur Helf'.</i> Undo!! Rückgängig!! Strg+z!! Für vermalte...<br/>
    Karolender Türchen 14:
    <i>Kannst die Karte jetzt nach hier ziehen.</i> Karte am grauen Rand größer ziehen. Ganz neue Möglichkeiten!!!<br/>
    Karolender Türchen 17:
    <i>Kannst ein Bildlein jetzt hier rin zieh'n.</i> Scleppen und Abwerfen von Bildern auf die Katze macht den Verwandler an<br/>
    Karolender Tür Zwei Eins:
    <i>Flutfüllfarben sind jetzt Deins.</i> "Floodfill", das Ausfüllen von Flächen kann der Editor jetzt auch<br/>
    Karolender Twenty-Two:
    <i>Jetzt mit besserem Undo.</i> "Floodfill", "Katzenbild" und auch einfaches Malen ist jetzt in sinnvollen Undo-Schritten unterteilt<br/>

</p>

