<h3 class="dense">Darstellung</h3>
<table>
    <tr>
        <td>Karogröße:</td>
        <td>
            <input class="editor-tools-settings-size" type="number" value="12" name="size" maxlength="2" length="2" style="width: 50px">
        </td>
        <td><label>Punkte malen? <input class="editor-tools-settings-specles" type="checkbox" name="specles"></label></td>
    </tr>
    <tr>
        <td>Karorand:</td>
        <td colspan="2">
            <input class="editor-tools-settings-border" type="number" value="1" name="border" maxlength="2" style="width: 50px">
        </td>
    </tr>
</table>
