<span class="small chatInfo">Wer in den letzten 60 Sekunden da war, sortiert nach Althasigkeit</span><br/>
<ul id="chatUsers" class="chatUsersView"></ul>
<span class="quicktip quicktip-help quicktip-fixed" data-quicktip="Hastig akkumulierte Blockersumme derer im Chat"
      title="Hastig akkumulierte Blockersumme derer im Chat">HABDICH:  </span>
<span id="chatHabdich">-</span>
<br/>
<div id="chatInfoGames">
    <div id="chatInfoDran"><a target="ibndran" href="/dran">-</a></div>
    <span id="chatInfoBlockerRank">-</span><br>
    <span id="chatInfoTopBlocker">-</span><br>
</div>
<div id="chatBlockerInfo">
    <!-- <div class="clearer"></div> -->
    <button style="background-color: black; color: white" onclick="$('html').css({transform:'rotate(1440deg)',transition: '240s'})">DO NOT
        PRESS!!
    </button>
</div>
