<div id="chatEnter">
    Zeilen: <input id="messageLimit" type="range" name="points" min="1" max="100" value="10">
    <!-- <input type="checkbox" id="autoscroll" checked="checked"> <label for="autoscroll">Scrollen?</label>
    <input type="checkbox" id="showBotrixGames"> <label for="showBotrixGames"> Botrix Spielanfragen anzeigen</label> -->

    <form id="chatEnterForm">
        <span id="chatUserName"><%= login %>: </span>
        <input type="text" name="newchatmessage" id="newchatmessage" style="width: 400px" />
        <input type="submit" value="Sag es" id="newchatmessagesubmit" />
    </form>
</div>
