<small>Wer in den letzten 60 Sekunden da war, sortiert nach Althasigkeit</small>
<ul id="chatUsers" class="chatUsersView"></ul>
<span title="Hastig akkumulierte Blockersumme derer im Chat" alt="Hastig akkumulierte Blockersumme derer im Chat">HABDICH: <span id="chatHabdich"></span></span>
<br />
<div id="chatInfoGames">
    <div id="chatInfoDran"><a target="ibndran" href="/dran">-</a></div>
    <span id="chatInfoBlockerRank">-</span><br>
    <span id="chatInfoTopBlocker">-</span><br>
</div>
<div id="chatBlockerInfo">
    <!-- <div class="clearer"></div> -->
