<b>Spielinfos:</b>
<ul>
    <li>Game ID: <%= id %> <a href="/showmap.php?GID=<%= id %>">
        <small>(Karo1 Link)</small>
    </a></li>
    <li>Karte: <%= mapId %> - &quot;<%= mapName %>&quot; von <%= mapAuthor %></li>
    <li>Richtungsmodus <b><%= dirTitle %></b>, <%= dirMeaning %></li>
    <li>ZZZ steht auf <%= zzz %></li>
    <li>Checkpoints sind <b><%= cpStatus %></b></li>
    <li>Taktisches Crashen ist <b><%= tcMeaning %></b></li>
</ul>
Übrigens wurde das Spiel am <%= createdDate %> um <%= createdTime %> von <%= creator %> gestartet.
