<%  if (options.withAnniversary && data.birthdayToday) { %>
<img src="//www.karopapier.de/images/smilies/birthday.gif" alt="Wird immer älter" title="Wird immer älter">
<% } %>
<% if (options.withAnniversary && data.karodayToday) { %>
<img src="//www.karopapier.de/images/smilies/bouncy.gif" alt="Hat heute Karotag" title="Hat heute Karotag">
<% } %>
<% if (options.withDesperation && data.desperate) { %>
<img src="//www.karopapier.de/images/spielegeil.png" alt="Spielegeil" title="Spielegeil">
<% } %>

<span class="userLabel">
<% if (options.withInfoLink) { %>
<a href="//www.karopapier.de/userinfo.php?about=<%= data.id %>">
    <% } %>
    <%= data.login %>
    <% if (options.withInfoLink) { %>
</a>
<% } %>
</span>

<% if (options.withGames) { %> <small><% if (options.withGamesLink) { %>(<a href="/dran.html?uid=<%= data.id %>"><%= data.dran %></a>/<% } else { %>(<%= data.dran %>/<% } %><% if (options.withGamesLink) { %><a href="http://www.karopapier.de/showgames.php?spielevon=<%= data.id %>"><%= data.activeGames %></a>)<% } else { %><%= data.activeGames %>)<% } %></small><% } %>
